@{
    ViewBag.Title = "Confirmacion de Correo Electronico";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<br />
<br />
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        El Correo Electronico digitado No se encuentra registrado en nuestra Plataforma.
    </p>
</div>
	
