body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 450px;
}

/*  mis css_s*/

.inputLargo{
     max-width: 650px;
}
.Uppercase {
    text-transform: uppercase;
}

a.btnEditar
{
    background: url(../Images/wedit.jpg) no-repeat top left;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px; /* hides the link text */
}

a.btnVerDetalles
{
     background: url(../Images/verdetalles.bmp) no-repeat;
     display:block;
     width: 20px;
     height: 20px;
     text-indent: -9999px; /* hides the link text */
}

a.btnHistorial
{
     background: url(../Images/History-Folder.png) no-repeat;
     display:block;
     width: 20px;
     height: 20px;
     text-indent: -9999px; /* hides the link text */
}


.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/*
body { text-align: center; }
body p { 
  max-width: 400px; 
  margin: 20px auto; 
}
*/

#tallModal .modal-body p { margin-bottom: 900px }

.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}

.bg {
  background: url('/assets/example/bg_blueplane.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 80px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.container .jumbotron {
    padding-right: 60px;
    padding-left: 0px;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}

.jumbotron h1 {
    line-height: 1;
    color: #201C1E;
}

.jumbotron {
    color: #201C1E;
    text-shadow: 0px 1px 1px #444;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label_form_horizontal {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control-fecha {
    display: block;
  
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

h2, .h2 {
    font-size: 30px;
    font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif
}

/**************************************************************************************/

/*
.jumbotron h1 {
    line-height: 1;
    color: #183650;
}

.jumbotron {
    color: #183650;
    text-shadow: 0px 1px 1px #444;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 26px;
}
.navbar-inverse {
    background-color: #183650;
    border-color: #080808;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #666666;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.nav > li {
    position: relative;
    display: block;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #183650;
    text-decoration: underline;
}
    
    */