@{
    ViewBag.Title = "Nosotros";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@*<h2>@ViewBag.Title.</h2>*@
<h2>@ViewBag.Message</h2>
<div class="row col-md-8">
    <img src="~/Images/about.png" />
</div>

<br />
<div class="row">
    <p class="col-lg-10">
        AdiSoft es una empresa de desarrollo de software ágil,
        especializada en ofrecer servicios de TI. Nuestro equipo de desarrolladores de software,
        es pionero en la adopción de mejores prácticas de ingeniería de Software.
    </p>
</div>
<a href="http://localhost:57451/Home/">home</a>
